<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="articlesBlock"></div>
    <div class="newArticleForm-wrap">
      <form action="" class="newArticleForm">
        <input type="text" class="nameArticle" name="nameArticle" placeholder="Названия статьи">
        <input type="text" class="bodyArticle" name="bodyArticle" placeholder="текст">
        <button class="btnForm" type="submit">Submit</button>
      </form>
    </div>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
